<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RmssSync.Properties.Settings.RMSS20140825ConnectionString"
            connectionString="Data Source=125.210.208.56,1639;Initial Catalog=RMSS20140825;Persist Security Info=True;User ID=sa;Password=hsyw"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>