<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="Database Instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Oracle Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="Database Instance" type="Oracle Server" connectionString="Oracle Connection String" />
        <instance name="Database SQL" type="Sql Server" connectionString="Sql Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="Sql Connection String">
          <parameters>
            <parameter name="database" value="lotus" isSensitive="false" />
            <parameter name="pwd" value="sa" isSensitive="false" />
            <parameter name="server" value="10.37.7.233" isSensitive="false" />
            <parameter name="uid" value="sa" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString xsi:type="OracleConnectionStringData" name="Oracle Connection String">
          <parameters>
           <parameter name="Password" value="hsyw" isSensitive="false" />
           <parameter name="server" value="125.210.208.56/rmss" isSensitive="false" />
            <parameter name="User id" value="hsyw" issSensitive="false" />
          </parameters>
          <packages />
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>